.App {
  height: 800px;
  width: 320px;
  border: 1px solid black;
  margin:50px 100px;
  border-radius: 20px;
  background-color: #F5F5F5;
}
.App-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.about {
  width: 75%;
  text-align: left;
  margin: 0 50px 0;
}
.about h3 {
  margin:20px 0 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.about #pp {
  font-size: 0.65em;
  font-weight: 400;
}

#button {
  width: 100px;
  height: 30px;
  margin: 10px;
  border-width: 1px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}
#buttonLinked {
  width: 100px;
  height: 30px;
  margin: 10px;
  border-width: 1px;
  border-radius: 5px;
  background-color: #297FE5;
  color: #ffffff; 
  font-weight: bold;
  cursor: pointer;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  background-color: #F5F5F5;
}
.App-intro h2 {
  margin: 20px 0 5px;
  font-size: 1.4em;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.App-intro h6 {
  margin: 10px;
  font-size: 0.8em;
  font-weight: 500;
  color: orange;
  text-align: center;
}
#pq {
  margin: 15px 0;
  font-size: 0.7em;
  font-weight: 400;
  color: #000000;
  text-align: center;
}
.App-intro {
  width: 318px;
  height: 400px;
  font-weight: bold;
  background-color: #F5F5F5;
  text-align: center;
};



.icon {
  position: absolute;
  left: 34.36%;
  right: 61.09%;
  top: 89.8%;
  bottom: 7.32%;
  background-color: lightgray;
}

.App-footer {
  height: 56.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 0 0 20px 20px;
}

#icons {
  width: 25px;
  height: 25px;
  margin: 10px;
  border-radius: 10%;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  background-color: lightgray;
}
